@import "tailwindcss";

@theme {
  --color-gray-light: #1e293b;
  --color-text-muted: #9ca3af;
  --color-input-bg: #334155;
  --color-border: #1e293b;
}


::-webkit-scrollbar {
  width: 0; /* change thickness */
  height: 6px; /* for horizontal scrollbar */
}
::-webkit-scrollbar-thumb {
  background: #888; /* scrollbar color */
  border-radius: 9999px; /* makes it rounded */
}